/*
.a1
		{
			color: black;
			text-align: justify;
			font-size: 16 px;
			text-align:justify;
			width: 300 px;
			height:100 px;
			display: inline-block;
			background-color: # FFEE8C;
			margin-top:10 px;
			margin-left:10 px;
			padding-top:20 px;
			padding-left:20 px
		}
		.a2
		{
			color: green;
			text-align: justify;
			font-size: 20 px;
			text-align:justify;
			width: 200 px;
			height:400 px;
			display: inline-block;
			background-color: # FFEE8C;
			margin-top:100 px;
			margin-left:100 px;
			padding-top:5 px;
			padding-left:5 px
		}
		#a12
		{	color: red;
			text-align: center;
			font-size: 20 px;
			margin-bottom: 50 px;
			width: 200 px;
			height:400 px;
			display: block;
		}*/		
		h1
		{	color: blue;
			text-align: center;
			font-size: 60px;
			margin-bottom: 50px;
			s
		}
		/*
		img
		{	display: block;
			width: 200 px;
			height:200 px;
			
		}*/
		p
		{	color: green;
			text-align: justify;
			font-size: 14px;
			text-align:justify;
			width: 160px;
			height:20px;
			display: inline;
			background-color: # FFEE8C;
			margin-top:300 px;
			margin-left:600 px;
			padding-top:20px;
			padding-left:20px
		}
		/*
		ul
		{
			font-size: 16px;
			color: red;
			display: block;
		}
*/


/*h1{
	text-align: center;
	font-size: 60px;
	margin-bottom: 50px;
}*/
img{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
/*p{
	text-align: justify;
	font-size: 14px;
}*/
ul{
	font-size: 16px;
	color: red;
}

body,
html{
	padding: 0;
	margin: 0;
}
header{
	background-color: gray;
}
nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
nav ul li {
	float: left;
}
nav ul li a{
	display: block;
	/*padding: 10px 15px 10px 15px;*/
	/*padding: 10px 15px 10px;*/
	padding: 10px 15px;
	color: #fff;
}